{% extends "layout.html" %}

{% block title %}
    Stocks market
{% endblock %}

{% block main %}

    <form class="row row-cols-lg-auto g-3 align-items-center" action="/stocks" method="get"></form>
        {% if stocks_list %}
            <h6>{{ stocks_list }}!</h6>
        {% else %}
            3
        {% endif %}
    </form>
    <div class="container">
        yahoo! finance: <a href="https://finance.yahoo.com/etfs" target="_blank">Top ETFs</a>;
    </div>
    <div class="container">
        yahoo! finance: <a href="https://finance.yahoo.com/most-active" target="_blank">Most Actives</a>;
    </div>
    <div class="container">
        yahoo! finance: <a href="https://finance.yahoo.com/gainers" target="_blank">Day Gainers</a>;
    </div>
    <div class="container">
        yahoo! finance: <a href="https://finance.yahoo.com/u/yahoo-finance/watchlists/most-active-penny-stocks" target="_blank">Most Active Penny Stocks</a>;
    </div>

{% endblock %}
